:root{
    background-color: red;
}
h1{
    display: flex;
}

#page{
    display: flexbox;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#page::-webkit-scrollbar {
    display: none;
  }

.section-header{
    font-size: 25pt;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid black;
}

p{
    font-size: 16pt;
}

.list-head{
    font-weight: bold;
}